*{
    box-sizing: border-box;
}

.flex-container{
    display:flex;
    flex-wrap: wrap;    
    justify-content:flex-start;
    margin:2px;
}

.flex-container:empty:after {
    content: 'No restaurant with the given name';
  }

.card{
    max-width: 20%;
    margin: 10px;        
}

.gridListMain {
    transform: translateZ(0);
    cursor: pointer
}

.restaurantRating{
    background-color: #ffd000ea;    
    padding: 1px;
    max-width: max-content;
}