.appBar{
    flex-grow: 1;
    color:white;
    background-color: rgb(20, 20, 20);    
    padding: 8px 16px;
    
    display: flex;    
    align-items: center;
    justify-content: center;

}

.searchBar{
    color:white;
    flex-grow: 1; 
    padding: 4px 4px 4px 0;    
    padding-left: calc(1em + 16px);   
    width: 100%;
}

.searchIcon {
    padding: 0px 4px;
    height: 100%;
    position: absolute;    
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}


.logo { 
    color: white;     
}

#searchField{
    color: white;  
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}

.tabs {
    margin-bottom: 20px;
}

@media screen and (max-width:600px) {
    .appbar{
        flex-direction: column;
    }
    
}